{% extends "instagram/layout.html" %} <!--상속받는다.-->
{% load bootstrap4 %}


{% block title %}
    Instagram/post_list
{% endblock title %}

{% block content %}
    <!-- <script>
    if(1>0){
        console.log('script console test');
        alert("script console test");
    }
    </script> -->
    <form action="" method="get"> <!--action이 비어있으므로 상대경로로 웹페이지 생성?-->
        <input type = 'text' name='q' value="{{q}}">
        <input type = 'submit' value="검색">
    </form>
    
    <a href='{% url 'instagram:post_new' %}' class='btn btn-primary btn-block mt-3 mb-3'>
        새포스트
    </a>
    <table class="table table-bordered table-hover"> <!--이 table은 bootstrap 가지고와서 쓸수있는거(디자인)-->
        <tbody>
            {% for post in post_list %}
            <tr>
                <td>
                    {{post.pk}}
                </td>

                <td>
                    {% if post.photo %}
                        <img src="{{post.photo.url}}" style="width: 100px;">
                    {% else %}
                        no photo
                    {% endif %}
                </td>
                <td>
                    <!--<a href="/instagram/{{post.pk}}/">이 방식은 instagram 자체 url 변경시 사용불가해진다. url-reverse 사용하는 이유 -->
                        <!-- <a href={% url "instagram:post_detail" post.pk%} > url reverse 방식 -->
                            <!--모델에 get_absolute_url 지정시-->
                            <a href="{{post.get_absolute_url}}" >
                        {{post.message}}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% if is_paginated %}
    {% bootstrap_pagination page_obj size="large" justify_content="center"%}    
    {% endif %}
    {{page_obj}}
{% endblock content %}